<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	   	
	<bean id="emp" class="com.experian.learning.spring.pojo.EmployeeProfile">
		<property name="empDsgs">
			<props>
				<prop key="Anil">Clerk</prop>
				<prop key="Jani">SE</prop>
				<prop key="Sunil">JE</prop>
			</props>
		</property>
	</bean>
</beans>