<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="pulsar1" class="com.experian.bean.inheritance.pojo.Bike">
		<property name="id" value="MP051234"></property>
		<property name="make" value="Bajaj"></property>
		<property name="engineCC" value="200CC"></property>
	</bean>	   					   
	
	<bean id="pulsar2" class="com.experian.bean.inheritance.pojo.Bike" parent="pulsar1">
		<property name="id" value="MP051238"></property>
	</bean>	
</beans>